<!doctype html>
<html>
<head>
  <!--Header: Has important site data and imports links to external tools-->
	<title>Mooditude</title>
  <link href="/css/style.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ff34cc79cd.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/mood.js"></script>
</head>
<!--All of the displayed content on the webpage is rendered here-->
<body class="lrg_font">
  <!--Home button and navigation-->
  <div class="header float">
    <button class="hbutton b_nav b_left clr_chng" id="btnh" onclick="location.href='/title'"><i class="fas fa-home fa-3x"></i></button>
	  <h1 style="text-align:center">How are you feeling?</h1>
    <button class="setbutton b_nav b_right clr_chng" id="btnset" onclick="openSet()"><i class="fas fa-cog fa-3x"></i></button>
  </div>
  <div id="mySideSet" class="sideset">
    <a href="javascript:void(0)" class="closebtn" id="btncls" onclick="closeSet()">&times;</a>
    <h2>Change the theme</h2>
    <form id="settings">
      <div class="container">
        <select class="themeselector" id="themeselector" aria-hidden="true">
          {{#each themeSelect}}
            <option id="theme{{id}}">{{text}}</option>
          {{/each}}
        </select>
      </div>
      <h2>Customize your moods</h2>
      <div class="container">
        {{#each bubbles}}
          <label value="fas fa-circle" for="moodcolor{{num}}" name="moodcolor_lbl{{num}}" class="themelabel" style="color: {{color}}"><i class="fas fa-circle"></i></label>
          <input type="text" name="moodcolor{{num}}" id="moodcolor{{num}}" class="input" value="{{text}}">
        {{/each}}
    </div>
    <button type="submit" class="button b_left fa-lg" id="btnsetsub" style="font-size: xx-large; margin-top: 1.3em"><i class="fas fa-save"></i><b> Save</b></button>
    </form>
  </div>
  <br><br><br><br>
  <!--All of the form items will be rendered here, but intializing them is taken care of in mood.js-->
  <div class="entry">
    <form id="moodForm">
    {{#each form}}
      <div class="container clr_chng" id="form{{id}}">
          <input type="time" class="time clr_chng" id="time{{id}}" value="{{time}}">
          <textarea class="mood clr_chng" id="textarea{{id}}" cols="100" rows="1">{{text}}</textarea>
          <select name="grat_clr" class="grat_clr fas" id="select{{id}}" aria-hidden="true">
          <!--{{#each mood}}
            <option value="fas fa-circle" id="option{{clrid}}" style="color: {{color}}" {{selected}} {{disabled}} {{hidden}}>&#xf111 {{mood}}</option>
          {{/each}}-->
          </select>
      </div>
    {{/each}}
    <button type="submit" class="button b_left fa-lg clr_chng" id="btns" style="font-size: xx-large; margin-top: 1.3em"><i class="fas fa-save"></i><b> Save</b></button>
    </form>
  </div>
	<br>

  <!--Main navigation buttons, rendered at the bottom of the screen-->
	<button class="button b_right fa-lg" id="btn1"><b>Add </b><i class="fas fa-plus"></i></button>
  <br><br><br><br><br><br><br><br>
  <div class="fas float b_bottom">
    <button class="button b_left fa-lg clr_chng" id="btnl" onclick="location.href='/title'"><i class="fas fa-arrow-left"></i><b> Back</b></button>
    <button class="button b_right fa-lg" id="btnr" onclick="location.href='/gratitude'"><b>Next </b><i class="fas fa-arrow-right"></i></button>
  </div>
</body>
</html>
