<!doctype html>
<html>
<head>
	<!--Header: Has important site data and imports links to external tools-->
	<title>Mooditude</title>
  	<link href="/css/style.css" rel="stylesheet">
  	<link href="/css/bargraph.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ff34cc79cd.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/mood.js"></script>
</head>
<!--All of the displayed content on the webpage is rendered here-->
<body class="lrg_font">
	<!--Home button and navigation-->
	<div class="header float">
    	<button class="hbutton b_nav b_left nav_color" id="btnh" onclick="location.href='/index'"><i class="fas fa-home fa-3x"></i></button>
		<h1 style="text-align:center">Report</h1>
	</div>
	<!--Here we will have a weekly summary table and a list of things that the user was grateful for this week-->
	<br><br><br><br>
	<div id="container">
	<table class="graph">
	<!--Graph initialization-->
	<caption>Here's how you've been feeling this past week</caption>
	<thead>
		<tr>
			<th scope="col">Mood</th>
			<th scope="col">Amount</th>
		</tr>
	</thead>
	<tbody style="font-size: medium;">
		{{#each report}}
			{{#if mood}}
				<tr style="height:{{height}}%">
					<th scope="row">{{mood}}</th>
					<td style="background:{{color}}"><span>{{height}}%</span></td>
				</tr>
			{{/if}}
		{{/each}}
	</tbody>
	</table>
	</div>
	<!--Gratitude list initialization-->
	<h2 style="text-align:center">Things you were grateful for this week:</h2>
	<div id="container" style="font-size: 20px">
		{{#each input}}
		<div class="container bkgr_color brdr_color">
			<p>{{text}}</p>
		</div>
		{{/each}}
	</div>
	<br><br>
	<!--Main navigation buttons, rendered at the bottom of the screen-->
	<div class="fas float b_bottom">
		<button class="button b_left fa-lg btn_color" onclick="location.href='/gratitude'"><i class="fas fa-arrow-left"></i><b> Back</b></button>
	</div>
</body>
</html>